<h1>Create New Group with this Property: <%= @key %></h1>
<%= form_tag groups_path, multipart: true do %>
  <%= label :name, 'Group Name' %>
  <%= text_field :name, nil, placeholder: 'name of the group'%>

  <div class="label_title">
    Files (Select Files)
    <% @file_names.each do |xfile| %>
      <div class="drop-shadow">
        <%= check_box_tag 'xfile_id[]', xfile.id -%>
        <%= link_to xfile.name, xfile_path(xfile) %>
      </div>
  <% end %>
    <%= hidden_field_tag :prop , @key %>
    <%= submit_tag 'Create' %>
  </div>

<% end %>
<%= link_to 'Back to Group List', groups_path %>
<%= link_to 'Back to File List', xfiles_path %>

