<div class="label_title">
  Create New Group with this Property: <%= @prop %>
</div>
<%= form_tag groups_path, multipart: true do %>
  <%= label :group, :name, 'Group Name' %>
  <%= text_field :group, 'name', placeholder: 'Name of the group'%>
  <div class="label_title">
    <br>
    Files (Select Files)
    <% @xfiles.each do |xfile| %>
      <div class="drop-shadow">
        <%= check_box_tag 'xfile_id[]', xfile.id, true -%>
        <%= link_to xfile.name, xfile_path(xfile) %>
      </div>
  <% end %>
    <br>
    <%= hidden_field_tag :prop , @prop %>
    <%= submit_tag 'Create', :class => "button primary drop-shadow"%>
  </div>

<% end %>
<br>
<%= link_to 'Back to All Groups', groups_path %>
<br>
<%= link_to 'Back to All Files', xfiles_path %>

