<div class="label_title">
  Group
</div>

<div class="card-header">
  Name:
  <%= @group.name %>
</div>

<div class="card-header">
  Property Grouped By:
  <%= @group.prop%>
</div>

  <div class="label_title">
    Files
    <% @xfiles.each do |xfile| %>
      <div class="drop-shadow">
        <%= link_to xfile.name, xfile_path(xfile) %>
      </div>
    <% end %>
  </div>
<%= button_to 'Delete Group', group_path(@group), :method => :delete, :confirm => 'Are you sure?', :class => 'button delete-button drop-shadow' %>
<%= link_to 'Back to Group List', groups_path %>
<%= link_to 'Back to File List', xfiles_path %>

