<% # in app/views/jsonfiles/show.html.haml %>
<div class="content-container">

  <div class="back">
    <%= link_to 'Back to All Files', xfiles_path %>
  </div>

  <div class="content-card drop-shadow">
    <%= form_tag edit_post_path(@id) do %>
      <div class="spacing-medium"></div>

      <div class="label_title">Edit Files</div>
      <div class="spacing-medium"></div>

      Update property <span style="font-weight: bold"> <%= @group.prop %> </span> for all files in group <span style="font-weight: bold"> <%= @group.name %> </span><br>
      <div class="spacing-large"></div>

      <%= label :xfile, :name, 'property' %>
      <div class="spacing-small"></div>

      <%= text_field_tag :property, @prop[0], readonly: true %>
      <div class="spacing-large"></div>

      <%= label_tag(:xfile, :value) %>
      <div class="spacing-small"></div>

      <%= text_field_tag :value, @prop[1] %>
      <div class="spacing-medium"></div>

      <%= submit_tag 'Update', :class => 'button primary' %>
    <% end %>
    <div class="spacing-medium"></div>
  </div>
</div>


