<% #  This file is app/views/xiles/index.html.haml %>

<div class="content-container">
  <div class="label_title">
    Uploaded Files
  </div>
  <table id="jsonfiles">
    <%= form_tag xfiles_shared_props_path,:id => "xfile_form", :method => :get do %>
    <tbody>
      <% @xfiles.each do |xfile| %>
        <tr class="drop-shadow">
          <td>
            <%= check_box_tag 'xfile_id[]', xfile.id -%>
            <%= link_to "More about #{xfile.name}", xfile_path(xfile) %>\
            <%= link_to "Download #{xfile.name}", download_xfile_path(xfile), data: { turbolinks: false } %>
          </td>
        </tr>
        <% end %>
    </tbody>
    <% end %>
  </table>
  <%= link_to 'Get Shared Properties', "", :onclick => "$('#xfile_form').submit()" %>
  <br>
  <%= link_to 'Add new File', new_xfile_path %>
</div>
