<% #  This file is app/views/xiles/index.html.haml %>

<div class="content-container">
  <div class="label_title">
    Uploaded Files
  </div>
    <%= form_tag shared_props_path,:id => "xfile_form", :method => :get do %>
    <table id="jsonfiles">
    <tbody>

      <% @xfiles.each do |xfile| %>
        <tr class="drop-shadow">
          <td id="<%= "xfile_#{xfile.id}".to_s %>">
            <%= check_box_tag 'xfile_id[]', xfile.id -%>
            <%= link_to "#{xfile.name}", xfile_path(xfile) %>
            <%= link_to "Download", download_xfile_path(xfile), data: { turbolinks: false } %>
          </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <% end %>
  <a href="/xfiles/new">
    <div class="button primary drop-shadow">
     New File
    </div>
  </a>

  <div class="label_title">
    Shared Properties
  </div>

  <table class="table drop-shadow">
    <tr>
      <td>
        <span style="font-weight: bold;">
          Key
        </span>
      </td>
      <td>
        <span style="font-weight: bold;">
          Number of Files
        </span>
      </td>
      <td>
        <span style="font-weight: bold;">

        </span>
      </td>
    </tr>
    <% @shared_set.each_pair do |property, count|  %>
    <tr>
      <td>
        <%= property %>
      </td>
      <td>
        <%= count %>
      </td>
      <td>
        <%= link_to "edit", shared_files_path(property) %>
      </td>
    </tr>
    <% end %>
  </table>

  <%#= link_to 'Get Shared Properties', "", :onclick => "$('#xfile_form').submit()" %>
  <br>

  <br>
  <%#= link_to 'Group List', groups_path %>
</div>
