<div class="content-container">
  <a href="/">
    <div class="button grey drop-shadow ">
      Back
    </div>
  </a>
  <div class="content-card drop-shadow">
    <%= form_tag xfiles_path, multipart: true do %>
      <div class="label_title">Upload Files</div>
        Please upload files you want analyzed <br>
      <%= label :xfile, :name, 'File Name' %>
      <%= text_field :xfile, 'name', placeholder: 'Optional'%>
      <%= label :xfile, 'content', 'File(s)' %>
      <%= file_field_tag 'content[]', :multiple => true , :style => "padding-bottom: 10px"%> <br>
      <%= submit_tag 'Import', :class => 'button primary' %>
    <% end %>
  </div>
</div>


