                                      <% #  This file is app/views/xiles/shared_files.html.haml %>

<div class="content-container">
  <div class="label_title">
    Files with this property
  </div>
  <%= form_tag new_group_path,:id => "group_form", :method => :get do %>
    <table id="jsonfiles">
      <tbody>
       <% @xfiles.each do |xfile| %>
         <tr class="drop-shadow">
           <td>
             <%= check_box_tag 'xfile_id[]', xfile.id -%>
             <%= link_to "#{xfile.name}", xfile_path(xfile) %>
          </td>
        </tr>
      <% end %>
     </tbody>
    </table>
  <% end %>
  <%= link_to 'All files', xfiles_path %>
  <%= link_to 'Add New Group', "", :onclick => "$('#group_form').submit()" %>
</div>
