<% # in app/views/jsonfiles/show.html.haml %>
<div class="content-container">

  <div class="back">
    <%= link_to 'Back to all files', xfiles_path %>
  </div>

  <div class="label_title">
    Filename and Content
  </div>

    <div class="content-card drop-shadow">
        <div class="card-header">
          <%= @xfile.name %>
        </div>

        <pre id="json-content" class="body-text">
            <%= eval(@xfile.content).to_json %>
        </pre>
      </li>
    </div>
  <div class="spacing-large"></div>

  <div class="label_title">
    Groups
  </div>
  <div class="spacing-medium"></div>
<!--  ---------------------------------------------------------------------- -->

  <table class="table drop-shadow">
      <tr>
        <td>
          <span style="font-weight: bold;">
            Group
          </span>
        </td>
        <td>
          <span style="font-weight: bold;">
            Property
          </span>
        </td>
        <td>
          <span style="font-weight: bold;">
            <!-- value -->
          </span>
        </td>
      </tr>
    <% @groups.each do |group| %>
        <table>
          <tr>
            <th>
              Group
            </th>
            <th>
              Property
            </th>
            <!-- <th>
              Value
            </th> -->
          </tr>
            <td><%= link_to group.name, group_path(group) %></td>

            <td><%= group.prop %></td>

            <td><%= link_to "edit", edit_xfile_path(@xfile.id, prop: group.prop, groupid: group.id) %></td>
            <td>
              <div class="drop-shadow">
                <%= link_to group.name, group_path(group) %>
              </div>
            </td>
            <td>
              <%= group.prop %>
            </td>
           <!--  <td>
               IDK RIGHT NOW NEED TO FIX TIME TO DEBUG
            </td> -->
            <td>
              <%= link_to "Edit Property", edit_xfile_path(@xfile.id, prop: group.prop, groupid: group.id) %>
            </td>
          </tr>
    <% end %>
  </table>
  <div class="spacing-large"></div>





  <div class="label_title">
    All Properties
  </div>
  <div class="spacing-small"></div>

  Click on property to show other files that share this property
  <div class="spacing-medium"></div>

  <div class="prop_container">
    <% @properties.each do |prop| %>
      <div class="prop-button drop-shadow">
        <%= link_to "#{prop}", shared_files_path(prop) %>
      </div>
    <% end %>
  </div>
  <div class="spacing-large"></div>

  <%= button_to 'Delete File', xfile_path(@xfile), :method => :delete, :confirm => 'Are you sure?', :class => 'button delete-button drop-shadow' %>
  <div class="spacing-large"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        let jsonString = document.getElementById('json-content').innerText;
        var jsonObj = JSON.parse(jsonString);
        let prettyJSON = JSON.stringify(jsonObj, undefined, 4);
        document.getElementById('json-content').innerText = prettyJSON;
    });
</script>

