<!DOCTYPE html>
<html>
  <head></head>
  <title>CalTest Central</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <body>
    <div class="nav-bar">
      <a href="/"><div class="nav-bar-title">CalTest Central</div></a>
    </div>
    <div id="main">
      <% if flash[:notice] %>
        <div class="message" id="notice">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:warning] %>
        <div class="message" id="warning">
          <%= flash[:warning] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
